<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
  <div class="ms-auto me-auto">
    <a class="navbar-brand" href="#">
      利用規約
    </a>
    <a class="navbar-brand" href="#">
      プライバシーポリシー
    </a>
    <a class="navbar-brand" href="#">
      お問い合わせ
    </a>
  </div>
  </div>
</nav>
