<nav class="navbar navbar-dark bg-dark" style="position: absolute; bottom: 0; width: 100%;">
  <div class="container-fluid">
  <div class="ms-auto me-auto">
    <a class="navbar-brand" style="font-size: 14px;" href="https://kiyac.app/termsOfService/kGjGCXYekVrWZ2hFZrfg">
      <%= t('defaults.footer_rules') %>
    </a>
    <a class="navbar-brand" href="https://www.kiyac.app/privacypolicy/O600PwVqQEzJnpyv37EW" style="font-size: 14px;">
      <%= t('defaults.footer_privacy') %>
    </a>
    <a class="navbar-brand" href="https://docs.google.com/forms/d/e/1FAIpQLScHRLfNC2fA036OeCC9MWyAaS8tx6Sadixv9Va6xsEE_y5H4g/viewform?usp=sf_link" style="font-size: 14px;">
      <%= t('defaults.footer_contact') %>
    </a>
    <a class="navbar-brand" style="font-size: 12px;">
    © 2023 オリジナル斬魄刀投稿サイト
    </a>
  </div>
  </div>
</nav>
