<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
  <div class="ms-auto me-auto">
    <a class="navbar-brand" href="#">
      <%= t('defaults.footer_rules') %>
    </a>
    <a class="navbar-brand" href="#">
      <%= t('defaults.footer_privacy') %>
    </a>
    <a class="navbar-brand" href="#">
      <%= t('defaults.footer_contact') %>
    </a>
  </div>
  </div>
</nav>
