<li class="page-item">
  <% unless current_page.last? %>
  <%= link_to url, rel: 'next', remote: remote, class: 'page-link bg-dark text-white' do %>
    <span aria-hidden="true">&raquo;</span>
  <% end %>
<% end %>
</li>
