<div class="me-4 before-button" style="color: #026CE8; text-decoration:none; opacity: 0.8;">
  <i class="fa fa-thumbs-o-up me-1" aria-hidden="true"></i>霊圧
  <span style="color: #026CE8;">
    <%= post.reiatus.count %>
  </span>
</div>
