<ul class='crud-menu-btn list-inline float-right mt-2'>
  <li class="list-inline-item">
    <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
      <%= t('defaults.edit') %>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo: true, turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
      <%= t('defaults.destroy') %>
    <% end %>
  </li>
</ul>
