<%= turbo_frame_tag "js-index-order", frame: posts do %>
  <div class="row" style="justify-content: space-around;">
    <% posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { post: post } %>
    <% end %>
  </div>
  <%= paginate posts %>
<% end %>
