<div class="mb-1">
  <% tag_list.each do |tag| %>
    <span class="bg-dark me-1 p-1" style="font-size: 12px;">
      <%= link_to tag, search_path(tag_name: tag), class: "text-white", style: 'font-size: 12px; text-decoration: none;' %>
    </span>
  <% end %>
</div>
