<% if 'fight_select' == action_name %>
  <div class="mb-1">
    <% tag_list.each do |tag| %>
      <span class="bg-dark me-1 p-1 rounded-2" style="font-size: 12px;">
        <span class="text-white" style="font-size: 12px;"><%= tag %></span>
      </span>
    <% end %>
  </div>
<% else %>
  <div class="mb-1">
    <% tag_list.each do |tag| %>
      <span class="bg-dark me-1 p-1 rounded-2" style="font-size: 12px;">
        <%= link_to tag, search_path(tag_name: tag), class: "text-white", style: 'font-size: 12px; text-decoration: none;', data: { turbo: false } %>
      </span>
    <% end %>
  </div>
<% end %>
