<%= render 'shared/search' %>
<h3 id="post" style="text-align: center;" class="mt-5 mb-3"><%= t('.title') %></h3>
<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row" style="justify-content: space-around;">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
