<% @tags.each do |tag| %>
  <li class="list-group-item bg-white text-dark" role="option" data-autocomplete-value="<%= tag.id %>" data-autocomplete-label="<%= @result.present? ? "#{@result},#{tag.name}" : "#{tag.name}" %>">
    <%= tag.name %>
  </li>
<% end %>
