<% @posts.each do |post| %>
  <li class="list-group-item bg-white text-dark" role="option" data-autocomplete-value="<%= post.id %>" data-autocomplete-label="<%= post.shikai %>">
    <%= post.shikai %>
  </li>
<% end %>
