@import "font-awesome";
@import "bootstrap";
body {
	font-family: serif;
}
a {
	color: black;
}
.txt-limit {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* 任意の行数を指定 */
}
.smart_hoge {
	display: none;
}
.post-item-img {
	width: 171px;
	height: 153px;
}
.show-img {
	width: 342px;
	height: 306px;
}

/* スマホ表示時 */
@media (max-width: 768px) {
	.post-item-img {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 860px) {
	.smart_hoge {
		display: block;
	}
	.hoge {
		display: none;
	}
}

@media (max-width: 360px) {
	.top-page-title {
		font-size: 20px;
	}
	.top-page-sub-title {
		font-size: 8px;
	}
	.top-page-detail {
		font-size: 12px;
	}
	.show-img {
		width: 171px;
		height: 153px;
		margin-left: auto;
		margin-right: auto;
	}
}

.disvisible {
	display: none;
}

.modal_ai {
	position: fixed;
	inset: 0;
	margin: auto;

	width:100%;
	height:100%;

	background-color: rgba(128, 128, 128, 0.5);

	display:flex;
	justify-content: center;
	align-items:center
}


.fight-overlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.7);
}

.fight-modal {
	max-width: 600px;
	max-height: 600px;
	width: 100%;
	height: 80%;
	padding: 16px;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}


@keyframes LoadAnimation {
	0% {
		background-position: -360px 0;
	}

	100% {
		background-position: 360px 0;
	}
}
.placeholder-loading {
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-name: LoadAnimation;
	animation-timing-function: linear;
}

.twitter-button {
	&:hover {
		opacity: 0.5;
	}
}

.before-reiatu {
	&:hover {
		opacity: 0.5;
	}   
}

.tag-hover {
	&:hover {
		opacity: 0.7;
	}  
}

.post-card-link {
	&:hover {
		color: black;
		border: 1px solid rgba(0, 0, 0, 0.25);
		box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
	} 
}

.turbo-reiatu {
	&:hover {
		opacity: 0.5;
	} 
}
.turbo-unreiatu {
	&:hover {
		opacity: 0.5;
	} 
}
