@import "font-awesome";
@import "bootstrap";
body {
	font-family: serif;
}
a {
	color: black;
}
.txt-limit {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4; /* 任意の行数を指定 */
}
.smart_hoge {
	display: none;
}
.post-item-img {
	width: 171px;
	height: 153px;
}
.show-img {
	width: 342px;
	height: 306px;
}

/* スマホ表示時 */
@media (max-width: 768px) {
	.post-item-img {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 860px) {
	.smart_hoge {
		display: block;
	}
	.hoge {
		display: none;
	}
}

@media (max-width: 360px) {
	.top-page-title {
		font-size: 20px;
	}
	.top-page-sub-title {
		font-size: 8px;
	}
	.top-page-detail {
		font-size: 12px;
	}
	.show-img {
		width: 171px;
		height: 153px;
		margin-left: auto;
		margin-right: auto;
	}
}

.visible {
	display: block;
}
.disvisible {
	display: none;
}
button                  .show-when-disabled { display: none; }
button[disabled]        .show-when-disabled { display: initial; }

button                  .show-when-enabled { display: initial; }
button[disabled]        .show-when-enabled { display: none; }
